body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #00f2ff;
}



footer {
    background-color: #333333;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
}

.footer-columns {
    display: flex;
    justify-content: space-between;
}

.footer-column {
    flex: 1;
    padding: 0 20px;
}

.footer-column h3 {
    color: #ffffff;
    margin-bottom: 15px;
}

.footer-column p {
    color: #cccccc;
}

a {
    color: #00eeff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
h1, h2, h3, h4, h5 {
font-family: ' Barlow Semi Condensed ', sans-serif ;
font-weight: 700;
}
 

p
{
    font-family: 'Roboto', sans-serif ;
    font-weight: 400;
 }
 footer-columns {
    display: flex;
   }
   .footer-column {
    flex: 50%;
    margin: 20px;
   }
   header, footer {
    background-color: #666;
    padding: 10px;
   }
   main {
    padding: 10px;
    background-color: silver;
   }
   .post {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
   }
   .post img {
    margin: 20px;
   } 

   #menu1 ul{
    position: relative;
    display: block;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: auto;
    list-style: none;
   }
   #menu1 > ul::after{
    display: block;
    width: 100%;
    height: 0px ;
    clear: both;
    content: "";
   }

   #menu1 ul li{
    position: relative;
    display: block;
    float: left;
    width:  auto;
    height: auto;
   }
   #menu1 ul li ul{
    position: absolute;
    top: 36px;
    left: 0px;
    display: none;
    width: 200px;
    background:  #666;
   }
   #menu1 ul li a{
    display: block;
    padding: 9px 25px 0px 25px;
    font-size: 14px;
    line-height: 1.3em;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    height: 36px;
    box-sizing: border-box;
    color: white;
    background-color: #666;
   }
   #menu1 ul li:hover ul{
    display: block;
   }
   #menu1 ul li ul li{
    font: none;
    width: 100%;
   }
   #menu ul li ul li a{
    display: block;
    text-transform: none;
    height: auto;
    padding: 7px 25px;
    width: 100%;
    box-sizing: border-box;
    border-top: 1PX solid #ffffff;
    color: white;
   }
   #menu1 ul li ul :first-child a{
    border-top: 0px;}

    #m2{
        margin: 5px;
        background-color: #756781;  
    }
    .Nikeforce1low {
        width: 300px;
        background-color: #f9f9f9;
        border: 1px solid #ddd;
        margin: 20px;
        padding: 20px;
     }
     .Nikeforce1low img {
        width: 100%;
     }
     .NikeforceCoffe {
        width: 300px;
        background-color: #f9f9f9;
        border: 1px solid #ddd;
        margin: 20px;
        padding: 20px;
     }
     .NikeforceCoffe img {
        width: 100%;
     }
     .NikeDunkHiRetro {
        width: 300px;
        background-color: #f9f9f9;
        border: 1px solid #ddd;
        margin: 20px;
        padding: 20px;
     }
     .NikeDunkHiRetro img {
        width: 100%;
     }
     .NikeSBDunkLowGratefulDeadBears {
        width: 300px;
        background-color: #f9f9f9;
        border: 1px solid #ddd;
        margin: 20px;
        padding: 20px;
     }
     .NNikeSBDunkLowGratefulDeadBears img {
        width: 200%;
     }
     .NikeAirJordan1RetroLowOGVoodoo {
        width: 300px;
        background-color: #f9f9f9;
        border: 1px solid #ddd;
        margin: 20px;
        padding: 20px;
     }
     .NikeAirJordan1RetroLowOGVoodoo img {
        width: 100%;
     }